<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Event Description</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-script.js"></script>
</head>
<style>
    body{
        background:white;
    }
</style>
<body onload="parseDate('<%=event.startDate%>', '<%=event.endDate%>')" id="event-body">
<div class="container-fluid" ng-app="app" ng-controller="eventController">
    <div class="row" ng-init="id='<%=event._id%>'">
        <h1 align="center">Admin Panel</h1>
        <h4 align="center">Event Description</h4>
        <h4 class="logout"><a href="/logout">Logout</a></h4>
        <br><hr><br>
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-xs-10 col-xs-push-1 col-sm-push-2">
                <div class="container-fluid">
                  <div class="row">
                      <table class="table table-bordered table-striped event-list-table">
                      <tbody>
                          <tr>
                          <td>Event Name</td>
                          <td><%=event.eventName%></td>
                          </tr>
                          <tr>
                          <td>Club/Chapter</td>
                          <td><%=event.conductingBodyType%></td>
                          </tr>
                          <tr>
                          <td>Club/Chapter Name</td>
                          <td><%=event.clubOrChapter%></td>
                          </tr>
                          <tr>
                          <td>Start Date -- End Date</td>
                          <td id="date"></td>
                          </tr>
                          <tr>
                          <td>Start Time</td>
                          <td><%=event.startTime%></td>
                          </tr>
                          <tr>
                          <td>Duration</td>
                          <td><%=event.duration%> Hours</td>
                          </tr>
                          <tr>
                          <td>Description</td>
                          <td><%=event.eventDescription%></td>
                          </tr>
                          <tr>
                          <td>Expected Number of Participants</td>
                          <td><%=event.eventParticipants%></td>
                          </tr>
                          <tr>
                          <td>Venue Requirements</td>
                          <td><%=event.venueRequirement%></td>
                          </tr>
                          <tr>
                          <td>Guest Details</td>
                          <td><%=event.guest%></td>
                          </tr>
                          <tr>
                          <td>Sponsors</td>
                          <td><%=event.sponsors%></td>
                          </tr>
                          <tr>
                          <td>Budget</td>
                          <td><%=event.budget%></td>
                          </tr>
                          <tr>
                          <td>Student Co-ordinator Details</td>
                          <td class="multivalue">
                            <%for(var i in JSON.parse(JSON.stringify(event.studentCoordinator))){%>
                                <p><%=event.studentCoordinator[i]%></p>
                            <%}%>
                          </td>
                          </tr>
                          <tr>
                          <td>Faculty Co-ordinator Details</td>
                          <td class="multivalue">
                            <%for(var i in JSON.parse(JSON.stringify(event.facultyCoordinator))){%>
                                <p><%=event.facultyCoordinator[i]%></p>
                            <%}%>
                          </td>
                          </tr>
                          <tr>
                          <td>Campus Engineer Office Request</td>
                          <td><%=event.ceoRequest%></td>
                          </tr>
                          <tr>
                          <td>PRO Office Request</td>
                          <td><%=event.proRequest%></td>
                          </tr>
                          <tr>
                          <td>Other Request</td>
                          <td><%=event.other%></td>
                          </tr>
                      </tbody>
                      </table>
                  </div>
              </div>
              <hr>
              <%if((role=='fc' && !event.fcApproval)||((role=='dsw' || role=='clubAdmin' || role=='chapterAdmin') && !event.approvalStatus)){%>
              <div class="admin-rating">
                <span>Review Event</span>
                <br><br>
                <div class="row">

                  <%if(role=='dsw'){%>
                  <div class="col-md-6">
                    <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                          1) Approve and Forward to respective Admin</a>
                        </h4>
                      </div>
                      <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                          <form action="/dsw/approve" method="POST">
                            <div class="radio">
                              <label><input type="radio" name="accept" value="true" required>Approve</label>
                            </div>
                            <input type="hidden" name="eventFor" value="<%=event._id%>">
                            <div class="radio">
                              <label><input type="radio" name="accept" value="false" required>Reject</label>
                            </div>
                            <button class="submit btn btn-primary" type="submit">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                          2) Approve Overall Without Forwarding</a>
                        </h4>
                      </div>
                      <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                          <form action="/dsw/approveoverall" method="POST">
                            <div class="radio">
                              <label><input type="radio" name="accept"value="true" required>Approve</label>
                            </div>
                            <input type="hidden" name="eventFor" value="<%=event._id%>">
                            <div class="radio">
                              <label><input type="radio" name="accept" value="false" required>Reject</label>
                            </div>
                            <button class="submit btn btn-primary" type="submit">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                          3) Forward to Respective Admin without Rating</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Forward To:
                            <div class="checkbox">
                              <label><input type="checkbox" ng-click="manage_dsw('superAdmin')">Super Admin</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" ng-click="manage_dsw('<%=event.conductingBodyType%>Admin')">Admin</label>
                            </div>
                            <button class="submit btn btn-primary" ng-click="forward_dsw()">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <%}else if(role=='fc'){%>
                  <div class="col-md-6">
                    <form action="/fc/approve" method="POST">
                      <div class="radio">
                        <label><input type="radio" name="accept" value="true" required>Approve</label>
                      </div>
                      <input type="hidden" name="eventFor" value="<%=event._id%>">
                      <div class="radio">
                        <label><input type="radio" name="accept" value="false" required>Reject</label>
                      </div>
                      <button class="submit btn btn-primary" type="submit">Submit</button>
                    </form>
                  </div>
                  <%} else{%>
                  <div class="col-md-6">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            1) Approve</a>
                          </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                          <div class="panel-body">
                            <form action="/admin/approve" method="POST">
                              <div class="radio">
                                <label><input type="radio" name="accept" value="true" required>Approve</label>
                              </div>
                              <input type="hidden" name="eventFor" value="<%=event._id%>">
                              <div class="radio">
                                <label><input type="radio" name="accept" value="false" required>Reject</label>
                              </div>
                              <button class="submit btn btn-primary" type="submit">Submit</button>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            2) Forward without Rating</a>
                          </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                          <div class="panel-body">
                              Forward To:
                              <div class="checkbox">
                                <label><input type="checkbox" ng-click="manage('superAdmin')">Super Admin</label>
                              </div>
                              <div class="checkbox">
                                <label><input type="checkbox" ng-click="manage('admin')">Admin</label>
                              </div>
                              <button class="submit btn btn-primary" ng-click="forward()">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%}%>
                </div>

              </div>
              <%}%>
            </div>
        </div>
        </div>
    </div>
</div>
<br><br>
<br><br>
<script>
  function parseDate(sDate, eDate){
    sDate=sDate.substr(0,15);
    eDate=eDate.substr(0,15);
    var date=sDate+" -- "+eDate;
    $("#date").html(date);
  }
</script>
</body>
</html>
