<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Event Description</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-script.js"></script>
</head>
<style>
    body{
        background:white;
    }
</style>
<body onload="parseDate('<%=event.startDate%>', '<%=event.endDate%>')">
<div class="container-fluid">
    <div class="row">
        <h1 align="center">Admin Panel</h1>
        <h4 align="center">Event Description</h4>
        <h4 class="logout"><a href="/logout">Logout</a></h4>
        <br><hr><br>
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-xs-10 col-xs-push-1 col-sm-push-2">
                <div class="container-fluid">
                  <div class="row">
                      <table class="table table-bordered table-striped event-list-table">
                      <tbody>
                          <tr>
                          <td>Event Name</td>
                          <td><%=event.eventName%></td>
                          </tr>
                          <tr>
                          <td>Club/Chapter</td>
                          <td><%=event.conductingBodyType%></td>
                          </tr>
                          <tr>
                          <td>Club/Chapter Name</td>
                          <td><%=event.clubOrChapter%></td>
                          </tr>
                          <tr>
                          <td>Start Date -- End Date</td>
                          <td id="date"></td>
                          </tr>
                          <tr>
                          <td>Start Time</td>
                          <td><%=event.startTime%></td>
                          </tr>
                          <tr>
                          <td>Duration</td>
                          <td><%=event.duration%> Hours</td>
                          </tr>
                          <tr>
                          <td>Description</td>
                          <td><%=event.eventDescription%></td>
                          </tr>
                          <tr>
                          <td>Expected Number of Participants</td>
                          <td><%=event.eventParticipants%></td>
                          </tr>
                          <tr>
                          <td>Venue Requirements</td>
                          <td><%=event.venueRequirement%></td>
                          </tr>
                          <tr>
                          <td>Guest Details</td>
                          <td><%=event.guest%></td>
                          </tr>
                          <tr>
                          <td>Sponsors</td>
                          <td><%=event.sponsors%></td>
                          </tr>
                          <tr>
                          <td>Budget</td>
                          <td><%=event.budget%></td>
                          </tr>
                          <tr>
                          <td>Student Co-ordinator Details</td>
                          <td class="multivalue">
                            <%for(var i in JSON.parse(JSON.stringify(event.studentCoordinator))){%>
                                <p><%=event.studentCoordinator[i]%></p>
                            <%}%>
                          </td>
                          </tr>
                          <tr>
                          <td>Faculty Co-ordinator Details</td>
                          <td class="multivalue">
                            <%for(var i in JSON.parse(JSON.stringify(event.facultyCoordinator))){%>
                                <p><%=event.facultyCoordinator[i]%></p>
                            <%}%>
                          </td>
                          </tr>
                          <tr>
                          <td>Campus Engineer Office Request</td>
                          <td><%=event.ceoRequest%></td>
                          </tr>
                          <tr>
                          <td>PRO Office Request</td>
                          <td><%=event.proRequest%></td>
                          </tr>
                          <tr>
                          <td>Other Request</td>
                          <td><%=event.other%></td>
                          </tr>
                      </tbody>
                      </table>
                  </div>
              </div>
              <hr>
              <div class="admin-rating">
                <span>Admin Review</span>
                <br>
                <form action="#" method="POST">
                  Rating:
                  <div class="radio">
                    <label><input type="radio" name="rating" required>Pass</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="rating" required>Reject</label>
                  </div>
                  <button class="submit btn btn-primary" type="submit">Submit</button>
                </form>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>
<br>
<br>
<script>
  function parseDate(sDate, eDate){
    sDate=sDate.substr(0,15);
    eDate=eDate.substr(0,15);
    var date=sDate+" -- "+eDate;
    $("#date").html(date);
  }
</script>
</body>
</html>
