<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Event Description</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-script.js"></script>
    <link rel="stylesheet" href="/css/vex-theme-top.css" />
    <script src="/js/vex.combined.min.js"></script>
</head>
<style>
    body{
        background:white;
    }
</style>
<body onload="parseDate('<%=event.startDate%>', '<%=event.endDate%>');parseTime('<%=event.startTime%>');" id="event-body">
<div class="container-fluid" ng-app="app" ng-controller="eventController">
    <div class="row" ng-init="id='<%=event._id%>'">
        <h1 align="center">Admin Panel</h1>
        <h4 align="center">Event Description</h4>
        <h4 class="logout"><a href="/logout">Logout</a></h4>
        <br><hr><br>
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-xs-10 col-xs-push-1 col-sm-push-2">
              <%if(role=='dsw' || role=='clubAdmin' || role=='chapterAdmin'){%>
                <p align="right">
                  <a ng-click="edit=!edit" href="#">Edit Event</a>
                </p>
              <%}%>
                <br>
                <div class="container-fluid">
                  <div class="row" ng-init='initEvents(<%-JSON.stringify(event)%>,"<%=role%>");'>

                    <form name="editEventForm">
                      <table class="table table-bordered table-striped event-list-table">
                      <tbody>
                          <tr>
                          <td>Event Name</td>
                          <td><%=event.eventName%></td>
                          </tr>
                          <tr>
                          <td>Club/Chapter</td>
                          <td><%=event.conductingBodyType%></td>
                          </tr>
                          <tr>
                          <td>Club/Chapter Name</td>
                          <td><%=event.clubOrChapter%></td>
                          </tr>
                          <tr>
                          <td>Start Date -- End Date</td>
                          <td>
                            <span id="date" ng-show="!edit"></span>
                            <span ng-show="edit">
                              <div class="row">
                                <div class="col-md-6">
                                  <input type="date" class="form-control" name="startDate" ng-model="startDate_model" value="{{startDate_model}}">
                                </div>
                                <div class="col-md-6">
                                  <input type="date" class="form-control" name="endDate" ng-model="endDate_model" value="{{endDate_model}}">
                                </div>
                              </div>
                            </span>
                          </td>
                          </tr>
                          <tr>
                          <td>Start Time</td>
                          <td>
                            <span ng-show="!edit" id="time"></span>
                            <span ng-show="edit">
                              <input type="time" class="form-control" name="startTime" ng-model="startTime_model" value="{{startTime_model}}">
                            </span>
                          </td>
                          </tr>
                          <tr>
                          <td>Duration (hours)</td>
                          <td>
                            <span ng-show="!edit"><%=event.duration%> Hours</span>
                            <span ng-show="edit">
                              <input type="number" class="form-control" name="duration" ng-model="duration_model">
                            </span>
                          </td>
                          </tr>
                          <tr>
                          <td>Description</td>
                          <td>
                            <span ng-show="!edit"><%=event.eventDescription%></span>
                            <span ng-show="edit">
                              <input type="text" class="form-control"  name="eventDescription" ng-model="description_model">
                            </span>
                          </td>
                          </tr>
                          <tr>
                          <td>Expected Number of Participants</td>
                          <td>
                            <span ng-show="!edit"><%=event.eventParticipants%></span>
                            <span ng-show="edit">
                              <input type="text" class="form-control" name="eventParticipants" ng-model="participants_model">
                            </span>
                          </td>
                          </tr>
                          <tr>
                          <td>Venue Requirements</td>
                          <td>
                            <span ng-show="!edit"><%=event.venueRequirement%></span>
                            <span ng-show="edit">
                              <select class="form-control" ng-model="venue_model" name="venueRequirement">
                                <option value>--select--</option>
                                <option value="Anna Auditorium">Anna Auditorium</option>
                                <option value="Channa Reddy Auditorium">Channa Reddy Auditorium</option>
                                <option value="Shakespeare Gallery / TT Gallery - I">Shakespeare Gallery / TT Gallery - I</option>
                                <option value="VOC Gallery / TT Gallery - II">VOC Gallery / TT Gallery - II</option>
                                <option value="Dr. Ambedkar Auditorium">Dr. Ambedkar Auditorium</option>
                                <option value="Kamaraj Auditorium">Kamaraj Auditorium</option>
                                <option value="Rajaji Hall">Rajaji Hall</option>
                                <option value="Homi Bhabha Gallery / SJT -4th floor">Homi Bhabha Gallery / SJT -4th floor</option>
                                <option value="Sarojini Naidu Gallery / SJT-6th floor">Sarojini Naidu Gallery / SJT-6th floor</option>
                                <option value="Bhagat Singh Gallery /SJT 8th Floor – Non A/C">Bhagat Singh Gallery /SJT 8th Floor – Non A/C</option>
                                <option value="CS Hall">CS Hall</option>
                                <option value="Smart Class Room-TT">Smart Class Room-TT<</option>
                                <option value="Smart Class Room-SJT">Smart Class Room-SJT</option>
                                <option value="Smart Class Room-SMV">Smart Class Room-SMV</option>
                                <option value="Smart Class Room-CDMM">Smart Class Room-CDMM</option>
                                <option value="Smart Class Room-MGR">Smart Class Room-MGR<</option>
                                <option value="ClassRoom-TT">ClassRoom-TT</option>
                                <option value="ClassRoom-SJT">ClassRoom-SJT</option>
                                <option value="ClassRoom-SMV">ClassRoom-SMV</option>
                                <option value="ClassRoom-CDMM">ClassRoom-CDMM</option>
                                <option value="ClassRoom-MGR">ClassRoom-MGR</option>
                                <option value="BasketBall-MB">BasketBall-MB</option>
                                <option value="BasketBall-TT">BasketBall-TT</option>
                                <option value="Foodys - SMV">Foodys - SMV</option>
                                <option value="Foodys - SJT-I">Foodys - SJT-I</option>
                                <option value="Foodys - SJT-II">Foodys - SJT-II</option>
                                <option value="WoodStock">WoodStock</option>
                                <option value="Greenos">Greenos</option>
                                <option value="Outside Visit">Outside Visit</option>
                                <option value="Registration Desks">Registration Desks</option>
                                <option value="Amphitheatre">Amphitheatre</option>
                              </select>
                            </span>
                          </td>
                          </tr>
                          <tr>
                          <td>Guest Details</td>
                          <td><%=event.guest%></td>
                          </tr>
                          <tr>
                          <td>Sponsors</td>
                          <td><%=event.sponsors%></td>
                          </tr>
                          <tr>
                          <td>Budget</td>
                          <td>
                            <span ng-show="!edit"><%=event.budget%></span>
                            <span ng-show="edit">
                              <input type="text" class="form-control" name="budget" ng-model="budget_model">
                            </span>
                          </td>
                          </tr>
                          <tr>
                          <td>Student Co-ordinator Details</td>
                          <td class="multivalue">
                            <%for(var i in JSON.parse(JSON.stringify(event.studentCoordinator))){%>
                                <p><%=event.studentCoordinator[i]%></p>
                            <%}%>
                          </td>
                          </tr>
                          <tr>
                          <td>Faculty Co-ordinator Details</td>
                          <td class="multivalue">
                            <%for(var i in JSON.parse(JSON.stringify(event.facultyCoordinator))){%>
                                <p><%=event.facultyCoordinator[i]%></p>
                            <%}%>
                          </td>
                          </tr>
                          <tr>
                          <td>Campus Engineer Office Request</td>
                          <td>
                            <span ng-show="!edit"><%=event.ceoRequest%></span>
                            <span ng-show="edit">
                              <input type="text" class="form-control" name="ceoRequest" ng-model="ceoRequest_model">
                            </span>
                          </td>
                          </tr>
                          <tr>
                          <td>PRO Office Request</td>
                          <td>
                            <span ng-show="!edit"><%=event.proRequest%></span>
                            <span ng-show="edit">
                              <input type="text" class="form-control" name="proRequest" ng-model="proRequest_model">
                            </span>
                          </td>
                          </tr>
                          <tr>
                          <td>Other Request</td>
                          <td>
                            <span ng-show="!edit"><%=event.other%></span>
                            <span ng-show="edit">
                              <input type="text" class="form-control" name="other" ng-model="other_model">
                            </span>
                          </td>
                          </tr>
                      </tbody>
                      </table>
                      <br><br>
                      <p align="center" ng-show="edit">
                        <button class="btn btn-primary" ng-click="submit_form()">Update</button>
                      </p>
                    </form>
                  </div>
              </div>
              <hr>
              <%if((role=='fc' && !event.fcApproval)||((role=='dsw' || role=='clubAdmin' || role=='chapterAdmin') && !event.approvalStatus)){%>
              <div class="admin-rating">
                <span>Review Event</span>
                <br><br>
                <div class="row">

                  <%if(role=='dsw'){%>
                  <div class="col-md-6">
                    <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                          1) Approve and Forward to respective Admin</a>
                        </h4>
                      </div>
                      <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                          <form action="/dsw/approve" method="POST">
                            <div class="radio">
                              <label><input type="radio" name="accept" value="true" required>Approve</label>
                            </div>
                            <input type="hidden" name="eventFor" value="<%=event._id%>">
                            <div class="radio">
                              <label><input type="radio" name="accept" value="false" required>Reject</label>
                            </div>
                            <button class="submit btn btn-primary" type="submit">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                          2) Approve Overall Without Forwarding</a>
                        </h4>
                      </div>
                      <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                          <form action="/dsw/approveoverall" method="POST">
                            <div class="radio">
                              <label><input type="radio" name="accept"value="true" required>Approve</label>
                            </div>
                            <input type="hidden" name="eventFor" value="<%=event._id%>">
                            <div class="radio">
                              <label><input type="radio" name="accept" value="false" required>Reject</label>
                            </div>
                            <button class="submit btn btn-primary" type="submit">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                          3) Forward to Respective Admin without Rating</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Forward To:
                            <div class="checkbox">
                              <label><input type="checkbox" ng-click="manage_dsw('superAdmin')">Super Admin</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" ng-click="manage_dsw('<%=event.conductingBodyType%>Admin')">Admin</label>
                            </div>
                            <button class="submit btn btn-primary" ng-click="forward_dsw()">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <%}else if(role=='fc'){%>
                  <div class="col-md-6">
                    <form action="/fc/approve" method="POST">
                      <div class="radio">
                        <label><input type="radio" name="accept" value="true" required>Approve</label>
                      </div>
                      <input type="hidden" name="eventId" value="<%=event._id%>">
                      <div class="radio">
                        <label><input type="radio" name="accept" value="false" required>Reject</label>
                      </div>
                      <button class="submit btn btn-primary" type="submit">Submit</button>
                    </form>
                  </div>
                  <%} else{%>
                  <div class="col-md-6">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            1) Approve</a>
                          </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                          <div class="panel-body">
                            <form action="/admin/approve" method="POST">
                              <div class="radio">
                                <label><input type="radio" name="accept" value="true" required>Approve</label>
                              </div>
                              <input type="hidden" name="eventFor" value="<%=event._id%>">
                              <div class="radio">
                                <label><input type="radio" name="accept" value="false" required>Reject</label>
                              </div>
                              <button class="submit btn btn-primary" type="submit">Submit</button>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            2) Forward without Rating</a>
                          </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                          <div class="panel-body">
                              Forward To:
                              <div class="checkbox">
                                <label><input type="checkbox" ng-click="manage('superAdmin')">Super Admin</label>
                              </div>
                              <div class="checkbox">
                                <label><input type="checkbox" ng-click="manage('dsw')">DSW</label>
                              </div>
                              <button class="submit btn btn-primary" ng-click="forward()">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%}%>
                </div>

              </div>
              <%}%>
            </div>
        </div>
        </div>
    </div>
</div>
<br><br>
<br><br>
<script>
  function parseDate(sDate, eDate){
    sDate=sDate.substr(0,15);
    eDate=eDate.substr(0,15);
    var date=sDate+" -- "+eDate;
    $("#date").html(date);
  }
  function parseTime(time){
    var t=(new Date(time)).toLocaleTimeString();
    $("#time").html(t);
  }
  vex.defaultOptions.className = 'vex-theme-top';
</script>
</body>
</html>
